body {
  padding: 10px;
  margin-bottom: 100px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  background-color: #d4d64f;
  padding: 10px;
}
th {
  background-color: rgb(44, 130, 141);
}
h4 {
  color: rgb(168, 0, 0);
}

.ram {
  background-color: rgb(105, 211, 105);
  color: rgb(119, 11, 11);
}

#ramId {
  background-color: rgb(233, 233, 36);
  color: rgb(185, 36, 185);
}

#ramid1 {
  display: flex;
}

form {
  background-color: rgb(87, 230, 230);
  width: 250px;
}
input {
  margin: 10px;
}

.imgpos {
  height: 200px;
  width: 200px;
}

.mdiv  {
  border: 2px solid black;
}
.mdiv button {
  height: 100px;
  width: 100px;
}

.cdiv {
  border: 2px solid black;
}

.cdiv div {
  border: 2px solid rgb(233, 28, 28);
  height: 100px;
  width: 500px;
}
